<div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <p style="font-family: Verdana;margin-top: 100;font-size:20px;">
        <big><b>Welcome to the Warranty Service app.</b></big><br/><br/>
        As a shopkeeper, you are in charge of adding entries to the history once a product is bought.<br/>
        You can also replace a product if the warranty period of the product is not over.<br/><br/>
        To <b>add a new purchase</b> entry to history, the following criteria must be met-
        <ol style="font-family: Verdana;font-size:20px;">
            <li>The product ID must be unique.</li>
            <li>
                The product name must match with an existing product in the inventory. You will get suggestions
                on the existing product names while providing input. You can also see all the existing products
                in the inventory by clicking on "Show Products" link in the left.
            </li>
            <li>
                The customer phone number input has to be a valid phone number.
            </li>            
        </ol>
    </p>
    <p style="font-family:Verdana;font-size:20px;">
        To <b>replace a product</b>, the following criteria must be met-
        <ol style="font-family: Verdana;font-size:20px;">
            <li>You must provide the unique ID of the provide.</li>
            <li>
                If the product's warranty period is not over, then it will be replaced and an entry will
                be added to the history.
            </li>    
        </ol>
    </p>
</div>
<script>
    document.getElementsByName("homeLink")[0].className = "active";
</script>
</body>
</html>