<!<!DOCTYPE html>
<html>
<head>
    <title>Warranty Service</title>
    <link rel="stylesheet" type="text/css" href="styles/form.css">
</head>
<body>
    <div class="jumbotron">
    <h1 align="center">Warranty Service App</h1>
    <form method="post">
        <table align="center">
            <thead>
                <tr>
                    <th colspan="3">
                       Login
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        <input type="text" name="userName"/>
                    </td>
                    <td name="userNameError">
                    
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" name="password"/>
                    </td>
                    <td name="passwordError">
                    
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div align="center">Do not have an account? <a href="?signup">Click Here To Sign Up</a></div>
</div>
</body>
</html>