<!<!DOCTYPE html>
<html>
<head>
	<title>Warranty Service</title>
	<link rel="stylesheet" type="text/css" href="styles/form.css">
</head>
<body>
<div class="jumbotron">
	<h1 align="center">Warranty Service App</h1>
	<form method="post">
		<table align="center">
			<thead>
				<tr>
					<th colspan="3">
						Sign Up
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Username
					</td>
					<td>
						<input type="text" name="userName"/>
					</td>
					<td name="userNameError">
					
					</td>
				</tr>
				<tr>
					<td>
						Password
					</td>
					<td>
						<input type="password" name="password"/>
					</td>
					<td name="passwordError">
					
					</td>
				</tr>
				<tr>
						<td>
							Confirm Password
						</td>
						<td>
							<input type="password" name="confirmPassword"/>
						</td>
						<td name="confirmPasswordError">
						
						</td>
					</tr>				
				<tr>
					<td>
						Shop Name
					</td>
					<td>
						<input type="text" name="shopName"/>
					</td>
					<td name="shopNameError">
					
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<input type="submit"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<div align="center">Already have an account? <a href="?login">Click Here To Login</a></div>
</div>
</body>
</html>