<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/template.css">
    <title>Warranty Service</title>
</head>
<body>
<div class="heading">
  <span style="font-size: 50px;margin-left:10px;">Warranty Service</span>
  <span style="font-size: 20px;float:right;margin-top:35px;margin-right:10px;">
    Logged in as "
    <script>
      document.write(name);
    </script>
    "
  </span>
</div>
<ul>
  <li><a name="homeLink" href="?home">Home</a></li>
  <li><a name="addPurchaseLink" href="?addpurchase">Add Purchase</a></li>
  <li><a name="replaceProductLink" href="?replaceproduct">Replace Product</a></li>
  <li><a name="showHistoryLink" href="?showhistory">Show History</a></li>
  <li><a name="showProductsLink" href="?showproducts">Show Products</a></li>
  <li><a href="?logout">Logout</a></li>
</ul>
